USE [ABBLDB]
GO
/****** Object:  Table [dbo].[report_CibInstlContract]    Script Date: 2/23/2025 1:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_CibInstlContract](
	[UniqueID] [nvarchar](50) NULL,
	[CustomerID] [nvarchar](max) NULL,
	[RecordType] [nvarchar](1) NULL,
	[FICode] [nvarchar](3) NULL,
	[FIBranchCode] [nvarchar](4) NULL,
	[BorrowerCIBCode] [nvarchar](16) NULL,
	[FI_SubjectCode] [nvarchar](16) NULL,
	[FIContractCode] [nvarchar](50) NULL,
	[ContractType] [nvarchar](2) NULL,
	[ContractPhase] [nvarchar](2) NULL,
	[ContractStatus] [nvarchar](1) NULL,
	[CurrencyCode] [nvarchar](3) NULL,
	[StartingDate] [nvarchar](34) NULL,
	[RequestDate] [nvarchar](34) NULL,
	[PlannedEndDate] [nvarchar](34) NULL,
	[ActualEndDate] [nvarchar](8) NULL,
	[DefaultStatus] [nvarchar](1) NULL,
	[DateofLastPayment] [nvarchar](34) NULL,
	[FlagSubsidizedCredit] [nvarchar](1) NULL,
	[FlagPreFinance] [nvarchar](1) NULL,
	[ThirdPartyGuaranteeType] [nvarchar](3) NULL,
	[SecurityType] [int] NULL,
	[AmountGuaranteedTP] [nvarchar](12) NULL,
	[AmountGuaranteedSec] [nvarchar](12) NULL,
	[ClassificationBasis] [nvarchar](1) NULL,
	[SanctionLimit] [nvarchar](12) NULL,
	[TotalDisbursedAmount] [nvarchar](12) NULL,
	[TotalOutstandingAmount] [nvarchar](12) NULL,
	[TotalNumberofInstallments] [nvarchar](3) NULL,
	[PeriodicityofPayment] [nvarchar](1) NULL,
	[MethodofPayment] [nvarchar](3) NULL,
	[InstallmentAmount] [nvarchar](12) NULL,
	[NextInstallmentDate] [nvarchar](8) NULL,
	[UpcomingInstlments] [nvarchar](12) NULL,
	[NosofRemainingInstallment] [nvarchar](3) NULL,
	[RemainingInstlAmount] [nvarchar](12) NULL,
	[NosOvdInstallments] [nvarchar](3) NULL,
	[OverdueAmount] [nvarchar](12) NULL,
	[DaysofPaymentDelay] [nvarchar](3) NULL,
	[TypeofLeasedGood] [nvarchar](1) NULL,
	[ValueofLeasedGood] [nvarchar](12) NULL,
	[DueforRecovery] [nvarchar](12) NULL,
	[RecoveryDuringPeriod] [nvarchar](12) NULL,
	[CumulativeRecovery] [nvarchar](12) NULL,
	[DateofLawsuit] [nvarchar](8) NULL,
	[DateofClassification] [nvarchar](8) NULL,
	[TimesofRescheduling] [int] NULL,
	[DateofRescheduling] [nvarchar](34) NULL,
	[EconomicPurposeCode] [nvarchar](4) NULL,
	[SME] [nvarchar](1) NULL,
	[EnterpriseType] [nvarchar](2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
